:root {
  --branding-color: #e8dbd3;
  --secondary-color: #e7e4e2;
  --third-color: #a2b1b5;
  --link-color: #be7573;
  --heading-font-family: "Poppins", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --cursive-font-family: "Dancing Script", cursive;
  --decorative-font-family: "Libre Baskerville", serif;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--third-color);
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  padding: 1rem;
  color: black;
}

h1 {
  font-size: 5.625rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 3.125rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: var(--default-font-family);
}

.container {
  max-width: 65%;
  margin: 0 auto;
}

nav {
  padding: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 2;
  margin-left: 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgb(87, 85, 85);
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  text-transform: uppercase;
}

nav a:hover,
nav li.active a {
  color: var(--link-color);
  font-weight: 700;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--link-color);
  cursor: pointer;
}

.nav-logo {
  max-height: 8rem;
  margin-right: 65rem;
}

header.hero {
  height: 85vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/pinksky.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
  text-align: center;
  padding: 7rem 2rem;
}

.text-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.625rem;
  font-family: var(--decorative-font-family);
  color: white;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.text-box h2 {
  font-weight: 200;
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  color: white;
  font-family: var(--heading-font-family);
  text-transform: uppercase;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.text-box p {
  font-family: var(--default-font-family);
  font-size: 1.875rem;
  font-weight: bold;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 1rem 2rem;
  margin-top: 2rem;
  display: inline-block;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
}

section {
  background: var(--branding-color);
  padding: 5rem;
  margin-bottom: 0.313rem;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(87, 85, 85);
}

footer .email-link:hover {
  color: var(--link-color);
}

footer .social-links a {
  margin: 0 1.25rem;
  color: var(--branding-color);
  padding: 0.625rem 0.875rem;
  font-size: 1.25rem;
  background-color: #618286;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--link-color);
}

footer .copywrite {
  text-align: center;
  margin-top: 4.375rem;
  margin-bottom: 3.125rem;
  font-size: 1.375rem;
}

.git-link {
  text-shadow: 1px 1px 3px rgb(87, 85, 85);
}

.contact-box {
  background: linear-gradient(135deg, #e8dbd3 0%, #618286 100%);
  margin: 3.75rem 0;
  padding: 1.875rem 7.5rem;
}

.contact-box p {
  margin: 0;
  opacity: 1px;
}

.footer-contact {
  opacity: 0.8;
  text-align: center;
}

.content h1 {
  font-size: 4rem;
  line-height: 5rem;
  font-family: var(--decorative-font-family);
}

.content h2 {
  font-size: 1.563rem;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 2.188rem;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 1.25rem 0 0;
}

.content p {
  font-size: 1.5rem;
}

.content-container {
  padding: 3.75rem 1.25rem;
}

.about-content {
  margin: 1.25rem;
  font-family: var(--heading-font-family);
  font-weight: 400;
  font-size: 1.25rem;
}

.about-content h1 {
  font-size: 3.75rem;
}

.about-content h2 {
  font-size: 1.56rem;
}

.background {
  background-color: var(--secondary-color);
  padding: 2.5rem;
  border-radius: 0.25rem;
}

.contact-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/ocean.avif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.25rem 0;
}

.contact-header {
  margin-bottom: 0.938rem;
  font-size: 1.875rem;
  text-shadow: 2px 2px 2px var(--branding-color);
}

.projects {
  line-height: 5;
  font-size: 1.75rem;
  font-weight: bold;
}

.project-description {
  padding: 7.5rem 3.75rem;
}

.contact-info {
  text-shadow: 1px 1px 2px var(--branding-color);
}

.about-img {
  width: 35rem;
  height: 35rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  transform: translateX(-3rem);
}

.about-text {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.certifications {
  background-color: var(--secondary-color);
  border-radius: 0.625rem;
  margin: 5rem 0;
  padding: 0.625rem;
}

.about-link {
  font-size: 1.875rem;
  color: black;
}

.img-certificates {
  padding: 0.938rem;
}

i {
  font-size: 3.125rem;
}

.btn-branding {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  background-color: var(--branding-color);
  color: var(--link-color);
  text-decoration: none;
  border-radius: 2rem;
  font-family: var(--heading-font-family);
}

.btn-branding-outline {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.313rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  background-color: var(--third-color);
  color: white;
  text-decoration: none;
  border-radius: 2rem;
  font-family: var(--heading-font-family);
}

.btn:hover {
  background-color: var(--link-color);
  color: white;
  cursor: pointer;
  transform: translateY(-3px);
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.2);
}

.carousel {
  position: relative;
  height: 50rem;
  width: 80%;
  margin: 0 auto;
  padding: 3.125px;
}

.carousel-text {
  text-align: center;
  text-shadow: var(--link-color) 0.063rem 0 1.25rem;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  background: lightblue;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -2.5rem;
}

.carousel__button--right {
  right: -2.5rem;
}

.carousel__button img {
  width: 0.938rem;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 0.938rem;
  height: 0.938rem;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 0.75rem;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}

@media (max-width: 56.25rem) {
  header {
    padding: 3.75rem 0;
  }

  h2 {
    font-size: 2.75rem;
  }

  h4 {
    font-size: 1.625rem;
  }
  .hero h1 {
    font-size: 3.75rem;
    line-height: 1.5;
  }
  .hero h2 {
    font-size: 1.25rem;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .projects {
    font-size: 1.125rem;
    text-align: center;
    font-weight: normal;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 5rem 1.25rem;
  }
  .content h1 {
    font-size: 2.188rem;
  }
  .content h3 {
    font-size: 1.25rem;
  }
  .content p {
    font-size: 1rem;
  }
  .nav-logo {
    margin-right: 0px;
    max-height: 2.5rem;
  }
  nav li {
    font-size: 1.25rem;
  }
  nav a {
    font-size: 0.875rem;
  }
  .carousel {
    height: 25rem;
    width: 80%;
  }
}
